.main1{
    background-color: #000000e6;    
}

.main2{
    background-color: rgba(202, 101, 172, 0.9);    
}

.info1{
    background-color: rgba(255, 255, 255, 0.116);
}

.pjustified{
    text-align: justify;
}

.navtop{
    background-color: rgb(0, 0, 0);    
    opacity: 95%;
}

.btn-outline-pink{    
    width:fit-content;
    border-color: #ff94e0;                     
}

.collapsecs{
    background-color: rgba(255, 255, 255, 0.075);
}

.btn-pink2{
    background-color: #fcaabd; 
}

.btn-pink{
    background-color: #fcaabd; 
}

.btn-centered{
    align-items: center;
}